# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Project-M-Alexis.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projet\Project-M-Alexis\.idea\.idea.Project-M-Alexis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
