# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Project-M-Pre_Prod.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projet\Project-M-Pre_Prod\.idea\.idea.Project-M-Pre_Prod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
